/* We do flex for grid because the grid outlines all of our column boxes*/
#grid{
    display: flex;
    align-items: center;
    justify-content: center;

}

.square{
    /*Allows the sqaures to fill up the row size*/
    width: 100%;
    height: 100%;
    border-style: solid;
    border-color: black;
}

.gridoutline{
    display: flex;
    align-items: center;
    width: 300px;
    height: 300px;
    
}

.row{
    display: flex;
    flex-direction: column;
    
    /* Allows for the rows to fill up the box size*/
    width: 100%;
    height: 100%;
}

#gridsizebtn{
    /* centers the button*/
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 50px;
    padding: 50px 250px;
}