/* We do flex for grid because the grid outlines all of our column boxes*/
#grid{
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: red;
    width: 600px;
    height: 600px;
    margin: 0% auto;

    border-style: solid;
    border-radius: 4%;
    border-width: medium;

}

.square{
    /*Allows the sqaures to fill up the row size*/
    width: 100%;
    height: 100%;
    
}

.gridoutline{
    display: flex;
    align-items: center;
    width: 500px;
    height: 500px;
    background-color: white;
    
    /*bug if i add a border style then the whole box turns gray*/
    /*border-style: solid;*/
}

.row{
    display: flex;
    flex-direction: column;
    
    /* Allows for the rows to fill up the box size*/
    width: 100%;
    height: 100%;
}

h1{
    text-align: center;
    font-family: "Chalkduster";
    padding: 20px 300px;

}

body{
    background-color: lightblue;
}

.btns{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px;

}

#gridsizebtn{
    font-family: "Chalkduster";
    padding: 30px;
    margin: 20px;
}

#colorbtn{
    font-family: "Chalkduster";
    padding: 25px;
    margin: 20px;
}

p{
    text-align: center;
    font-family: "Chalkduster";
}

img{
    width: 3%;
    height: 3%;
}